[submodule "data/wh40k-10e-bsdata"]
	path = data/wh40k-10e
	url = https://github.com/BSData/wh40k-10e
[submodule "data/wh40k-10th"]
	path = data/wh40k-10th
	url = https://github.com/BSData/wh40k-10e.git
